* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Inter", sans-serif;
    font-style: normal;
    letter-spacing: 0%;
}

#main-body {
    width: 550px;
    height: 550px;
    background: #1F2937;
    padding: 115px 52px;
}

h1 {
    width: 357px;
    height: 80px;

    font-family: "Karla", sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -2.5%;
    color: white;
}

#h1-text-color {
    color: #4adf86;
}

h2 {
    margin-top: 10px;
    color: #D5D4D8;

    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

button {
    margin-top: 51px;
    background: #10B981;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 9px 16px;
    border: none;
    border-radius: 6px;
}

#divider {
    height: 1px;
    width: 446px;
    border: 1px;
    background: #2F3E53;
    margin: 35px 0;
}

.a-password {
   background: #2F3E53;
   width: 211px;
   height: 39px;
   border-radius: 6px; 
   display: flex;
   justify-content: center;
   align-items: center;
   color: #55F991;
}

#passwords {
    display: flex;
    justify-content: space-between;
}
